<!DOCTYPE html>
<html>
<head>
    <title>User</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <h1>Create User</h1>
    <footer>
        <p>2023</p>
    </footer>
</body>
</html>