<!DOCTYPE html>
<html>
<head>
    <title>User</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <%- include('../components/navbar') %>
    <h1>Daftar User</h1>
    <ul>
        <% users.forEach((user)=>{ %>
            <li><%=user.name %></li>
        <% }) %>
    </ul>
    <footer>
        <p>2023</p>
    </footer>
</body>
</html>